{% extends('base.html.twig') %}

    {% block body %}
    <strong> vous pouvez accéder a votre profil ici :</strong>

    <div class="row">
        <div class="col-m6">
            <a class="btn btn-primary">Mon profil</a>
        </div>
    </div>
<div class="jumbotron text-center">
    <h1>Bienvenue!</h1>
    <h1>Découvrer le fonctionnement de notre site web ! </h1>
    <h2>Vous pouvez-vous connecter ou vous inscrire!</h2>
</div>
    <div class="row">
        <a class="btn btn-primary">Se connecter</a>
        <a class="btn btn-primary">S'inscrire</a>
    </div>

    <br /> <br /> <br />

    <div class="menu-centre-1">
        <p>Ceci est un test, vous aimez bien le chocolat chaud ?</p>
    </div>
    

{% endblock %}